@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media only screen and (min-width: 500px){
    body {
        background-color: white;
        background-repeat: no-repeat;
        background-attachment: block;
        font-family: 'Open Sans',serif;
        background: url("../img/bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }

    .container {

    }

    label {
        display: block;
        position: relative;
        color: rgb(32, 67, 124, 0.6);
    }

    .group {
        padding-top: 10px;
    }

    .form {
        padding-top: 8px;
        padding-bottom: 8px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2px solid rgb(32, 67, 124, 0.6);
        width: 100%;
    }

    .form:focus {
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
        border-top: none;
        border-right: none;
        border-left: none;
        outline: none;
        border-bottom: 2px solid rgb(32, 67, 124, 0.6);
    }

    .btn {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px; 
        border: 1px solid rgb(32, 67, 124, 0.6);
        border-radius: 5px;
        color: white;
    }

    .btn:hover {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px; 
        border: 1px solid rgb(32, 67, 124, 0.6);
        border-radius: 4px;
        cursor: pointer;
        color: rgb(32, 67, 124, 0.6);
    }

    .btn-pri {
        background-color: rgb(32, 67, 124, 0.6);
    }

    .btn-pri:hover {
        background-color: white;
    }

    a.btn {
        text-decoration: none;
        color: rgb(32, 67, 124, 0.6);
        font-size: 12px;
        float: right;
    }

    a.btn:hover {
        background-color: rgb(32, 67, 124, 0.6);
        color: white;
    }

    .column-4-sign {
        width: 25%;
        float: right;
        background-color: white;
        margin-top: 60px;
        padding: 10px;
        margin-right: 20px;
        border-radius: 5px;
        border: 1px solid white;
		-moz-box-shadow: 0 0 20px white; 
		-webkit-box-shadow: 0 0 20px white; 
		box-shadow: 0 0 20px rgb(14, 4, 4);
    }

    .navigation {
        display: block;
        background-image: linear-gradient(to left, white, rgb(32, 67, 124, 0.6));
        padding: 14px 16px;
        margin-top: -8px;
        margin-left: -8px;
        margin-right: -8px;
        border-bottom: 3px solid rgb(32, 67, 124, 0.6);
    }

    a.brand {
        text-decoration: none;
        font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
    }

    ul.nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: -20px;
        overflow: hidden;
    }

    ul > li {
        float: right;
    }

    li a {
        display: block;
        color: rgb(32, 67, 124, 0.6);
        text-decoration: none;
        padding-left: 14px;
        padding-right: 14px;
    }

    li a:hover {
        color: rgb(32, 67, 124, 1);
    }

    .column-4-profile {
        width: 25%;
        float: right;
        background-color: white;
        margin-top: 60px;
        padding: 10px;
        margin-right: 20px;
        border-radius: 5px;
        border: 1px solid white;
		-moz-box-shadow: 0 0 20px white; 
		-webkit-box-shadow: 0 0 20px white; 
		box-shadow: 0 0 20px rgb(14, 4, 4);
    }

    .responsive {
        width: 60%;
        margin-left: 60px;
        height: 200px;
        border-radius: 50%;
    }


    .profile-div-body {
        width: 60%;
        text-align: center;
        margin-left: 60px;
    }

    .column-8-profile {
        width: 67%;
        float: left;
        background-color: white;
        margin-top: 60px;
        padding: 10px;
        margin-left: 20px;
        border-radius: 5px;
        border: 1px solid white;
		-moz-box-shadow: 0 0 20px white; 
		-webkit-box-shadow: 0 0 20px white; 
		box-shadow: 0 0 20px rgb(14, 4, 4);
    }

    .tabs {
        overflow: hidden;
        border: 1px solid #ccc;
        background-image: linear-gradient(to left, white, rgba(207, 69, 34, 0.931));
     }
     
     .tabs button {
         background-color: inherit;
         float: left;
         border: none;
         outline: none;
         cursor: pointer;
         padding: 14px 16px;
         transition: 0.3s;
         color: white;
     }
     
     .tabs button:hover {
         background-color: rgba(95, 111, 136, 0.5);
     }

     .tabs button:focus {
        background-color: rgba(95, 111, 136, 0.5);
        border-bottom: 2px solid white;
     }

     .tabs button:active {
        background-color: rgba(95, 111, 136, 0.5);
        border-bottom: 2px solid white;
     }
     
     .tabContent {
        display: none;
        padding: 6px 13px;
        border: 1px;
        border-top: none;
     }
     
     .tabContent {
        animation: fadeEffect 1s;
     }
     
     @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1}
     }
     
    
}